<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Justwrite" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="main-container">
      <main class="main-content">
        <%= yield %>
      </main>
      <aside class="sidebar">
        <!-- Sidebar content will go here -->
      </aside>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
